option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ZYOmoKuYsa2LtOKPnBW7dGLNpYbYhZGHb6EBfl3S"
    MASTER_KEY: "TuBA6HGyIIut11ugvGjWG19jk9ba6JN8fgzZ6VYc"
    DATABASE_URI: "mongodb://parse-production:passwordPitstop@52.22.48.116:21127/push-notification-dev"
    NODE_ENV: "staging"
    SERVER_URL: "http://parseserverpush-staging.us-west-2.elasticbeanstalk.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node index.js"